---
layout: default
title: Home
---

{% assign posts = site.posts | where: 'layout', 'post' %}
{% if page.url == "/" %}

<!-- Featured
================================================== -->
  {% assign featured = posts | where: 'featured', true %}
  {% if featured.size > 0 %}
    <section class="featured-posts">
      <div class="section-title">
          <h2><span>Featured</span></h2>
      </div>
      <div class="row">

      {% for post in featured %}
        {% include featuredbox.html %}
      {% endfor %}
      </div>
    </section>
  {% endif %}


{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Stories</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=FactasticHealth', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="FactasticHealth" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>

