{% capture url %}{{ site.url }}{{ include.url }}{% endcapture %}

{% unless include.share.url == '%url' %}
  {% assign url = url | default: '' %}
{% endunless %}
{% assign title = include.title | default: '' %}
{% assign description = include.description | default: '' %}
{% assign tags = include.tags | join: ',' | default: '' %}
{% assign media = include.media | prepend: site.url %}
<div class="btn share-btn {{include.share.icon}}-btn mb-2 mb-md-0 ml-md-1 mr-md-1">
    <a
    {% if include.share.url == '%url' %}
        download
    {% else %}
        target="_blank"
    {% endif %}
    rel="noopener nofollow noreferrer"
    title="{{ include.share.title }}"
    class="d-flex text-white text-lowercase align-items-center justify-content-center"
    href="{{ include.share.url | replace: '%url', url | replace: '%title', title | replace: '%description', description | replace: '%tags', tags | replace: '%media', media }}">
    <i class="share-icon fab fa-{{ include.share.icon }}"></i>
    <span>{{ include.share.title }}</span>
    </a>
</div>
